= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f|
	= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose Project" }
	= f.input :name, label: "Name"
	= f.input :bio, label: "Bio Info"
	%br/
	= f.input :image, as: :file
	%br/
	= f.button :submit