%div.wrapper
	%header.main_header.clearfix
		= link_to image_tag("cf-logo.png"), root_path, class: "logo"
		.logo
			= link_to root_path do
				%h1
					Review
					%span Peers
		%a.menu{:href => "#"}
			%i.fa.fa-bars		
		%nav.main_nav
			= link_to "Workforce", root_path, class: "current"
			- Category.all.each do |category|
				= link_to category.name, users_path(category: category.name)
			- if creator_signed_in?
				= link_to "New User", new_user_path, class: "new"
				= link_to "Sign Out", destroy_creator_session_path, method: :delete

	- @users.each do |user|
		%ul#timeline
			= link_to user do
				%li.listing.clearfix
					%div.image_wrapper
						= image_tag user.image.url(:thumb)
					%div.info
						%span.user_name= user.name
						%span.bio_info
						%div.location
							%span •
							Nairobi, Kenya
					%span.project_type.p_1= user.category.name
	=will_paginate @users

%footer#main_footer
	%p.copyright © 2017 Review App. All Rights Reserved
	%p.nav
		%a{:href => "https://www.facebook.com/CloudFactoryKenyaLtd/"}
			%i.fa.fa-facebook-square
		%a{:href => "https://www.facebook.com/CloudFactoryHQ"}
			%i.fa.fa-twitter-square
		%a{:href => "https://plus.google.com/+CloudfactoryHQ"}
			%i.fa.fa-google-plus-square
